<PageTitle>Home</PageTitle> @*Set The Tab Name*@

<div class="text-5xl bg-eclprim">
    <img src="images/ECL_Header.jpg" alt="Header Image" class="header-image text-center eclipse-heading"/>
</div>

<div class="bg-gray-50 pt-12 sm:pt-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-4xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">You Can Do It !</h2>
        </div>
    </div>
    <div class="mt-10 bg-white pb-12 sm:pb-16">
        <div class="relative">
            <div class="absolute inset-0 h-1/2 bg-gray-50"></div>
            <div class="relative mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-4xl">
                    <dl class="rounded-lg bg-white shadow-lg sm:grid sm:grid-cols-3">
                        <div class="flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r">
                            <dt class="order-2 mt-2 text-lg font-medium leading-6 text-gray-500">Pepperoni</dt>
                            <dd class="order-1 text-5xl font-bold tracking-tight text-indigo-600">100%</dd>
                        </div>
                        <div class="flex flex-col border-b border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l sm:border-r">
                            <dt class="order-2 mt-2 text-lg font-medium leading-6 text-gray-500">Delivery</dt>
                            <dd class="order-1 text-5xl font-bold tracking-tight text-indigo-600">24/7</dd>
                        </div>
                        <div class="flex flex-col border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
                            <dt class="order-2 mt-2 text-lg font-medium leading-6 text-gray-500">Calories</dt>
                            <dd class="order-1 text-5xl font-bold tracking-tight text-indigo-600">100k</dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<dl class="mx-auto grid grid-cols-1 gap-px bg-gray-900/5 sm:grid-cols-2 lg:grid-cols-4">
    <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
        <dt class="text-sm font-medium leading-6 text-gray-500">Revenue</dt>
        <dd class="text-xs font-medium text-gray-700">+4.75%</dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">$405,091.00</dd>
    </div>
    <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
        <dt class="text-sm font-medium leading-6 text-gray-500">Overdue invoices</dt>
        <dd class="text-xs font-medium text-rose-600">+54.02%</dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">$12,787.00</dd>
    </div>
    <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
        <dt class="text-sm font-medium leading-6 text-gray-500">Outstanding invoices</dt>
        <dd class="text-xs font-medium text-gray-700">-1.39%</dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">$245,988.00</dd>
    </div>
    <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
        <dt class="text-sm font-medium leading-6 text-gray-500">Expenses</dt>
        <dd class="text-xs font-medium text-rose-600">+10.18%</dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">$30,156.00</dd>
    </div>
</dl>

<section class="m-10">
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="p-6 !p-2">
            <div class="flex gap-2 flex-wrap justify-between px-4 mt-4">
                <h3 class="block antialiased tracking-normal font-sans text-3xl font-semibold leading-snug text-blue-gray-900">
                    R 127,092.22
                </h3>
                <div class="flex items-center gap-6">
                    <div class="flex items-center gap-1">
                        <span class="h-2 w-2 bg-blue-500 rounded-full"></span>
                        <p class="block antialiased font-sans text-sm font-light leading-normal text-inherit font-normal text-gray-600">
                            2022
                        </p>
                    </div>
                    <div class="flex items-center gap-1">
                        <span class="h-2 w-2 bg-green-500 rounded-full"></span>
                        <p class="block antialiased font-sans text-sm font-light leading-normal text-inherit font-normal text-gray-600">
                            2023
                        </p>
                    </div>
                </div>
            </div>
            <div id="chart"></div>
        </div>
        <div class="p-6 flex gap-6 flex-wrap items-center justify-between">
            <div>
                <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900">
                    Annual Sales Performance
                </h6>
                <p class="block antialiased font-sans text-sm font-light leading-normal text-inherit font-normal text-gray-600 mt-1">
                    Year-to-Date sales comparison
                </p>
            </div>
            <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg border border-gray-900 text-gray-900 hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85]"
                    type="button"
                    data-ripple-dark="true">
                View report
            </button>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>
    const options = {
        series: [
            {
                name: "2022 Sales",
                data: [0, 200, 180, 350, 500, 680, 800, 800, 880, 900, 680, 900],
            },
            {
                name: "2023 Sales",
                data: [200, 160, 150, 260, 600, 790, 900, 660, 720, 800, 500, 800],
            },
        ],
        colors: ["#4CAF50", "#2196F3"],
        chart: {
            height: 350,
            type: "area",
            zoom: {
                enabled: false,
            },
            toolbar: {
                show: false,
            },
        },
        title: {
            show: "",
        },
        dataLabels: {
            enabled: false,
        },
        legend: {
            show: false,
        },
        markers: {
            size: 0,
            strokeWidth: 0,
            strokeColors: "transparent",
        },
        stroke: {
            curve: "smooth",
            width: 2,
        },
        grid: {
            show: true,
            borderColor: "#EEEEEE",
            strokeDashArray: 5,
            xaxis: {
                lines: {
                    show: false,
                },
            },
            padding: {
                top: 5,
                right: 20,
            },
        },
        tooltip: {
            theme: "light",
        },
        yaxis: {
            labels: {
                style: {
                    colors: "#757575",
                    fontSize: "12px",
                    fontFamily: "inherit",
                    fontWeight: 300,
                },
            },
        },
        xaxis: {
            axisTicks: {
                show: false,
            },
            axisBorder: {
                show: false,
            },
            labels: {
                style: {
                    colors: "#757575",
                    fontSize: "12px",
                    fontFamily: "inherit",
                    fontWeight: 300,
                },
            },
            categories: [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "Jul",
                "Aug",
                "Sep",
                "Oct",
                "Nov",
                "Dec",
            ],
        },
        fill: {
            type: "gradient",
            gradient: {
                shadeIntensity: 1,
                opacityFrom: 0,
                opacityTo: 0,
                stops: [0, 100],
            },
        },
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
</script>