@namespace EclipsePageLibrary.CustomComponents.CustomEclipseNumpad

<div class="row numpad-buttons-login-page">
    <div class="col-12">
        <div class="pin-grid m-4">

            <button class="btn keypad-button rounded-button " maxlength="1">1</button>
            <button class="btn keypad-button rounded-button" maxlength="1">2</button>
            <button class="btn keypad-button rounded-button" maxlength="1">3</button>
            <button class="btn keypad-button rounded-button" maxlength="1">4</button>
            <button class="btn keypad-button rounded-button" maxlength="1">5</button>
            <button class="btn keypad-button rounded-button" maxlength="1">6</button>
            <button class="btn keypad-button rounded-button" maxlength="1">7</button>
            <button class="btn keypad-button rounded-button" maxlength="1">8</button>
            <button class="btn keypad-button rounded-button" maxlength="1">9</button>
            <button class="btn keypad-button rounded-button" maxlength="1">DEL</button>
            <button class="btn keypad-button rounded-button" maxlength="1">0</button>
            <button class="btn keypad-button rounded-button" maxlength="1">CLR</button>
        </div>
    </div>
</div>